@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    background: linear-gradient(rgba(10, 45, 75, .8), rgba(10, 45, 75, .8)), url(../images/bg.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Lato', sans-serif;
}

#logo-lavazza-extended {
    fill: #0a2d4b;
    width: 12.5vw;
    margin: 2em 0;
}

@media(max-width: 768px) {
    #logo-lavazza-extended {
        width: 50vw;
    }
}